select.form-control {
  -moz-appearance: menulist;
   -webkit-appearance: menulist;
   appearance: menulist;
}
.card .card-content {
    padding: 15px 35px !important;
}
.form-control, .form-group .form-control{
    background-image: none;
    border-bottom: 1px solid #ccc !important;
}

.form-group label.control-label {
    font-size: 15px;
    line-height: 1.07142857;
    color: #4f4f4f;
    font-weight: 600;
    margin: 16px 0 0 0;
}

.fixed{
        position: sticky;
        top:0;
        z-index: 9;
    }
.labels{
  font-size: 15px !important;  line-height: 1.07142857 !important; color: #4f4f4f !important; font-weight: 600 !important; margin: 16px 0 0 0 !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 15px !important;  line-height: 1.07142857 !important; color: #4f4f4f !important; font-weight: 600 !important; margin: 16px 0 0 0 !important;
}

p{
 font-size: 17px;
}
/* You can add global styles to this file, and also import other style files */
.control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7px;
}