<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="wrapper">
<div class="sidebar" data-color='blue' data-image="" style="background-color: #000 !important">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
</div>
<div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
    	<div class="container-fluid row">
    		<div class="row"> 
    			
        	</div>
        	<div class="card">
                <div class="card-header" data-background-color="blue">
                    <h3 class="title">Emitir los recibos de cobro</h3>
                    <h4 class="category"></h4>
                </div>
                <div class="card-content">
			        
				</div>
			</div>
    	</div>
    </div>
    <app-footer></app-footer>
 </div>
 </div>