<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="wrapper">
<div class="sidebar" data-color='blue' data-image="" style="background-color: #000 !important">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
</div>
<div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
    	<div class="container-fluid row">
    		<div class="row"> 
    			
        	</div>
        	<div class="card" *ngIf="verCarteras">
                <div class="card-header" data-background-color="blue">
                    <h3 class="title">Emitir los recibos de cobro</h3>
                    <h4 class="category">Lista de carteras por vendedor</h4>
                </div>
                <div class="card-content" *ngIf="!loading">
			        <div class="card-content" >


                        <ul class="nav nav-pills nav-pills-warning">
                            <li class="active">
                                <a  data-toggle="tab" (click)="selectTab(vendedores[0].id)">{{vendedores[0].vendedor}}</a>
                            </li>
                            <li *ngFor="let page of vendedores2">
                                <a  data-toggle="tab" (click)="selectTab(page.id)">{{page.vendedor}}</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content" >
                            <div *ngFor="let page of vendedores">
                                <div  *ngIf="page.link">
                                    <br><br><br>
                                    <table class="table table-striped">
                                      <thead>
                                         <th></th>
                                         <!-- <th style="text-align: center;">ID</th> -->
                                         <th style="text-align: center; font-size: 18px; font-weight: bold">ID</th>
                                         <th style="text-align: center; font-size: 18px; font-weight: bold">descripcion</th>
                                         <th style="text-align: center; font-size: 18px; font-weight: bold">numero</th>
                                         
                                         <th style="text-align: center; font-size: 18px; font-weight: bold">Acciones</th>
                                      </thead>
                                      <tbody>
                                            <tr *ngFor="let item of page.cartera" >
                                                <td>
                                                        
                                                </td>
                                                <!-- <td style="text-align: center;">{{item.id}}</td> -->
                                                <td style="text-align: center;">{{item.id}}</td>
                                                <td style="text-align: center;">{{item.descripcion}}</td>
                                                <td style="text-align: center;">{{item.numero}}</td>
                                                <td style="text-align: center;">
                                                
                                                    <button type="button" class="btn btn-warning" (click)="ir(item.id, item.descripcion,item.numero)">IR</button>

                                                </td>
                                            </tr>   
                                      </tbody>
                                    </table>
                                </div>
                            </div>  
                        </div>
                    </div>
				</div>
			</div>
            <!-- aqui va el recibo -->
            <div class="col-md-12" *ngIf="verRecibos">
                <div class="card">
                   
                    <div class="card-header card-header-text" data-background-color="blue">
                        <h4 class="card-title">Cartera{{nombreCartera}} {{numeroCartera}}</h4>
                    </div>
                    <div class="card-content" *ngIf="!loading">
                        <div *ngIf="generarRecibos">
                           <h3>No se han generado los recibos para esta cartera. </h3> 
                           <button type="button" class="btn btn-success" (click)="generarRecibo()">Generar</button>
                        </div>
                        <div *ngIf="generados">
                            <table class="table table-striped">
                                    <thead>
                                         <th style="text-align: center;">Nombre</th>
                                         <th style="text-align: center;">DNI</th>
                                         <th style="text-align: center;">Tipo</th>
                                         <th style="text-align: center;">Familiares</th>
                                         <th style="text-align: center;">Estado</th>
                                         <th style="text-align: center;">Fecha de alta o renovación</th>
                                         <th style="text-align: center;">Ingresó</th>
                                         <th style="text-align: center;">Ticket</th>
                                         <th style="text-align: center;">Acciones</th>
                                    </thead>
                                    <tbody>
                                         <tr *ngFor="let item of items">
                                            
                                            <td style="text-align: center; font-size: 16px">{{item.nombre_1}} {{item.nombre_2}} {{item.apellido_1}} {{item.apellido_1}}</td>
                                            <td style="text-align: center; font-size: 16px">{{item.dni}}</td>
                                            <td style="text-align: center; font-size: 16px">{{item.tipo2}}</td>
                                            <td style="text-align: center; font-size: 16px">{{item.nFamiliares}}</td>
                                            <td style="text-align: center; font-size: 16px">{{item.estado2}}</td>
                                            <td style="text-align: center; font-size: 16px">{{item.f_alta | date:'dd/MM/yyyy'}}</td>
                                            <td style="text-align: center; font-size: 16px">{{item.user_id2}}</td>
                                            <td style="text-align: center; font-size: 16px">{{item.ticket}}</td>
                                            <td style="text-align: center; font-size: 16px">
                                              <button type="button" class="btn btn-success" (click)="getUsuario(item)">Ver</button>
                                              <button type="button" class="btn btn-warning" (click)="editar(item)">Editar</button>
                                            </td>
                                         </tr>
                                    </tbody>
                            </table>
                            <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                                <div class="btn-group">
                                   <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                                </div>
                                <div class="btn-group pull-right">
                                   <ul class="pagination" >
                                      <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a></li>
                                         <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                                            <a (click)="setPage(page)" >{{page}} </a>
                                         </li>
                                      <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                                   </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    	</div>
    </div>
    <app-footer></app-footer>
 </div>
 </div>