<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="wrapper">
<div class="sidebar" data-color='blue' data-image="" style="background-color: #000 !important">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
</div>
<div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
    	<div class="container-fluid row">
    		<div class="row"> 
    			
        	</div>
        	<div class="card">
                <div class="card-header" data-background-color="blue">
                    <h3 class="title">Emitir los recibos de cobro</h3>
                    <h4 class="category"></h4>
                </div>
                <div class="card-content">
			        <div class="card-content" *ngIf="!loading">


                        <ul class="nav nav-pills nav-pills-warning">
                            <li class="active">
                                <a  data-toggle="tab" (click)="selectTab(vendedores[0].id)">{{vendedores[0].vendedor}}</a>
                            </li>
                            <li *ngFor="let page of vendedores2">
                                <a  data-toggle="tab" (click)="selectTab(page.id)">{{page.vendedor}}</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content" >
                            <div *ngFor="let page of vendedores">
                                <div  *ngIf="page.link">
                                    <br><br><br>
                                    <table class="table table-striped">
                                      <thead>
                                         <th></th>
                                         <!-- <th style="text-align: center;">ID</th> -->
                                         <th style="text-align: center; font-size: 18px; font-weight: bold">ID</th>
                                         <th style="text-align: center; font-size: 18px; font-weight: bold">descripcion</th>
                                         <th style="text-align: center; font-size: 18px; font-weight: bold">numero</th>
                                         
                                         <th style="text-align: center; font-size: 18px; font-weight: bold">Acciones</th>
                                      </thead>
                                      <tbody>
                                            <tr *ngFor="let item of page.cartera" >
                                                <td>
                                                        
                                                </td>
                                                <!-- <td style="text-align: center;">{{item.id}}</td> -->
                                                <td style="text-align: center;">{{item.id}}</td>
                                                <td style="text-align: center;">{{item.descripcion}}</td>
                                                <td style="text-align: center;">{{item.numero}}</td>
                                                <td style="text-align: center;">
                                                
                                                    <button type="button" class="btn btn-warning" (click)="getTarifa(item,'tarifas_familiar');checkCrear(false,'tarifas_familiar');modal.open()">IR</button>

                                                </td>
                                            </tr>   
                                      </tbody>
                                    </table>
                                </div>
                            </div>  
                        </div>

                        <!-- aqui va el recibo -->
                    </div>
				</div>
			</div>
    	</div>
    </div>
    <app-footer></app-footer>
 </div>
 </div>