<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="wrapper">
<div class="sidebar" data-color='blue' data-image="" style="background-color: #000 !important">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
</div>
<div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
    	<div class="container-fluid row">
    		<div class="row"> 
    			
        	</div>
        	<div class="card" *ngIf="!verRecibo">
              <div class="card-header" data-background-color="rose">
                    <h3 class="title">Rendiciones</h3>
                    <h4 class="category">Ingresa una rendición</h4>
              </div>
              <div class="card-content">
                <form [formGroup]="registroClienteForm">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="labels">Sucursal:</label>
                            <div class="form-group form-black label-floating">
                                <h3 style="font-weight: bold; margin-top: -20px">{{sucursal}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="labels">Cobrador:</label>
                                <input type="text" name="direccion" class="form-control" formControlName="cobrador" [transformer]="uppercase" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating" [ngClass]="displayFieldCss('cartera_id')">
                                <label class="labels">Cartera:</label>
                                <select name="cartera_id" formControlName="cartera_id" class="form-control" (change)="getTicket($event)">
                                    <option *ngFor="let title of carteras" [value]="title.id">{{title.numero}} {{title.descripcion}}</option>
                                </select>
                                <app-field-error-display [displayError]="isFieldValid('cartera_id')" errorMsg="Te falto este campo!">
                                 </app-field-error-display>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="labels">Fecha:</label>
                                <p>{{registroClienteForm.value.fecha | date: 'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="labels">Monto:</label>
                                <h3>{{registroClienteForm.value.monto}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row card" formArrayName="recibos" *ngIf="tamRecibos">
                      <div class="card-header" data-background-color="rose">
                            <h3 class="title">Recibos:</h3>
                            <h4 class="category"></h4>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                        <br><br>
                      <table class="table">
                        <thead>
                           <th style=""></th>
                           <th style="">Nº Recibo</th>
                           <th style="">Importe</th>
                           <th style="">Abono</th>
                           <th style=""></th>
                        </thead>
                        <tbody>
                                  <tr *ngFor="let client of registroClienteForm.controls.recibos.controls; let i=index" [formGroupName]="i">
                                      <td style="text-align: center; font-size: 16px">
                                        <mat-checkbox  name="check" formControlName="check" (change)="checks($event,i,client)"></mat-checkbox>
                                      </td>
                                      <td style="text-align: center; font-size: 16px">
                                        <input type="text" name="id" class="form-control" formControlName="id" disabled>
                                      </td>
                                      <td style="text-align: center; font-size: 16px">
                                        <input type="text" name="importe" class="form-control" formControlName="importe" disabled>
                                      </td>
                                      <td style="text-align: center; font-size: 16px">
                                        <input type="text" name="abono" class="form-control" formControlName="abono" (change)="changeMonto($event,i)">
                                      </td>
                                      <td style="text-align: center; font-size: 16px">
                                        <button type="button" class="btn btn-warning" (click)="verDetalleRecibo(client)">Ver</button>
                                      </td>
                                  </tr>
                        </tbody>
                      </table>
                      </div>
                      <div class="col-md-1"></div>
                    </div>
                    
                    <div class="row" style="text-align: center" *ngIf="tamRecibos">
                        <div class="btn btn-success" (click)="enviar(registroClienteForm)">Enviar Rendición</div>
                    </div>

                    <div class="clearfix"></div>
                </form>
			              <!-- <div class="form-group form-black label-floating is-empty">
                         <label class="labels" style="font-size: 18px; font-weight: bold">Buscar: </label>
                         <input  class="form-control" type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
                         <br>
                    </div>
                    <table class="table table-striped">
                      <thead>
                         <th style="text-align: center;">Numero de recibo</th>
                         <th style="text-align: center;">Nombre</th>
                         <th style="text-align: center;">Documento</th>
                         <th style="text-align: center;">Periodo</th>
                         <th style="text-align: center;">Importe</th>
                         <th style="text-align: center;"></th>
                      </thead>
                      <tbody>
                         <tr *ngFor="let item of items">
                            <td style="text-align: center; font-size: 16px">{{item.id}}</td>
                            <td style="text-align: center; font-size: 16px">{{item.cliente.nombre_1}} {{item.cliente.nombre_2}} {{item.cliente.apellido_1}} {{item.cliente.apellido_1}}</td>
                            <td style="text-align: center; font-size: 16px">{{item.cliente.dni}}</td>
                            <td style="text-align: center; font-size: 16px">{{item.mes}}-{{item.anio}}</td>
                            <td style="text-align: center; font-size: 16px">$.{{item.importe}}</td>
                            <td style="text-align: center; font-size: 16px">
                              <button type="button" class="btn btn-warning" (click)="verDetalleRecibo(item)">IR</button>
                            </td>
                         </tr>
                      </tbody>
                    </table>
                      <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                        <div class="btn-group">
                           <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                        </div>
                        <div class="btn-group pull-right">
                           <ul class="pagination" >
                              <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a></li>
                                 <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                                    <a (click)="setPage(page)" >{{page}} </a>
                                 </li>
                              <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                           </ul>
                        </div>
                      </div> -->
			       	</div>
			      </div>

            <div class="card" *ngIf="verRecibo">
                <div class="card-header card-header-text" data-background-color="rose">
                    <h3 class="card-title">Recibo número: {{nRecibo}}</h3>
                </div>
                <div class="card-content">
                    <div class="col-md-12" *ngIf="verRecibo">
                        <div class="card">
                           
                            
                            <div  class="row" style="padding-right: 5%">
                                    <button type="button" class="btn btn-success pull-right" style="" (click)="volver()">VOLVER</button>
                                    
                            </div>
                            <div class="card-content row" style="padding-right: 3%; padding-left: 3%">

                                <div style="border: 1px solid #26c6da; border-radius: 10px;min-height: 650px">
                                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                        <div class="col-sm-4" style="border-right: 1px solid #26c6da; text-align: center;border-bottom: 1px solid #26c6da;">
                                            <p style="margin-bottom: 0px;">Asociado Nº</p>
                                        </div>
                                        <div class="col-sm-4" style="border-right: 1px solid #26c6da; text-align: center;border-bottom: 1px solid #26c6da;">
                                            <p style="margin-bottom: 0px;">Recibo Nº</p>
                                        </div>
                                        <div class="col-sm-4" style="text-align: center;border-bottom: 1px solid #26c6da;">
                                            <p style="margin-bottom: 0px;">Cuota-Mes</p>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                        <div class="col-sm-4" style="border-right: 1px solid #26c6da; text-align: center;border-bottom: 1px solid #26c6da;">
                                            <p style="margin: 5px 0px">{{nAfiliado}}</p>
                                        </div>
                                        <div class="col-sm-4" style="border-right: 1px solid #26c6da; text-align: center;border-bottom: 1px solid #26c6da;">
                                            <p style="margin: 5px 0px">{{nRecibo}}</p>
                                        </div>
                                        <div class="col-sm-4" style="text-align: center;border-bottom: 1px solid #26c6da;">
                                            <p style="margin: 5px 0px">{{cuotaMes}}</p>
                                        </div>
                                    </div>
                                    <table class="table ">
                                            <thead style="border-bottom: 1px solid #26c6da;">
                                                 <th style="text-align: center;"></th>
                                                 <th style="text-align: center;border-right: 1px solid #26c6da;">Relacion</th>
                                                 <th style="text-align: center;border-right: 1px solid #26c6da;">Apellido y Nombre</th>
                                                 <th style="text-align: center;border-right: 1px solid #26c6da;">Edad</th>
                                                 <th style="text-align: center;border-right: 1px solid #26c6da;">Documento</th>
                                                 <th style="text-align: center;">Importe</th>
                                            </thead>
                                            <tbody>
                                                 <tr *ngFor="let detalle of detalle">
                                                    
                                                    <td style="text-align: center; font-size: 16px"></td>
                                                    <td style="text-align: center; font-size: 16px">{{detalle.vinculo}}</td>
                                                    <td style="text-align: center; font-size: 16px">{{detalle.nombre}}</td>
                                                    <td style="text-align: center; font-size: 16px">{{detalle.edad}}</td>
                                                    <td style="text-align: center; font-size: 16px">{{detalle.dni}}</td>
                                                    <td style="text-align: center; font-size: 16px">$.{{detalle.importeParcial}}</td>
                                                 </tr>
                                            </tbody>
                                    </table>
                                    <br>
                                    
                                    <div style="text-align: center;position: absolute;bottom: 20px;margin: auto;left: 0;right: 0;">
                                        <div style="text-align: right;padding-right: 3%;">
                                           <h4> $.{{importe}}</h4>
                                        </div>
                                        
                                        <div style="text-align: center;">
                                            <h4>{{tipoAfiliado}}</h4>
                                        </div>
                                        <div style="text-align: center;">
                                            <h4>{{nombreSucursal}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	
      </div>
    </div>
    <app-footer></app-footer>
 </div>
 </div>