<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="wrapper">
<div class="sidebar" data-color='blue' data-image="" style="background-color: #000 !important">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
</div>
<div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
    	<div class="container-fluid row">
    		<div class="row"> 
    			
        	</div>
        	<div class="card">
                <div class="card-header" data-background-color="rose">
                    <h3 class="title">Rendiciones</h3>
                    <h4 class="category">Buscar e ingresar rendiciones</h4>
                </div>
                <div class="card-content">
			        <div class="form-group form-black label-floating is-empty">
                         <label class="labels" style="font-size: 18px; font-weight: bold">Buscar: </label>
                         <input  class="form-control" type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
                         <br>
                    </div>
                    <table class="table table-striped">
                      <thead>
                         <th style="text-align: center;">Numero de recibo</th>
                         <th style="text-align: center;">Nombre</th>
                         <th style="text-align: center;">Documento</th>
                         <th style="text-align: center;">Periodo</th>
                         <th style="text-align: center;">Importe</th>
                         <th style="text-align: center;"></th>
                      </thead>
                      <tbody>
                         <tr *ngFor="let item of items">
                            <td style="text-align: center; font-size: 16px">{{item.id}}</td>
                            <td style="text-align: center; font-size: 16px">{{item.cliente.nombre_1}} {{item.cliente.nombre_2}} {{item.cliente.apellido_1}} {{item.cliente.apellido_1}}</td>
                            <td style="text-align: center; font-size: 16px">{{item.cliente.dni}}</td>
                            <td style="text-align: center; font-size: 16px">{{item.mes}}-{{item.anio}}</td>
                            <td style="text-align: center; font-size: 16px">{{item.importe}}</td>
                            <td style="text-align: center; font-size: 16px">
                              <button type="button" class="btn btn-warning" (click)="getUsuario(item)">IR</button>
                            </td>
                         </tr>
                      </tbody>
                    </table>
                      <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                        <div class="btn-group">
                           <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                        </div>
                        <div class="btn-group pull-right">
                           <ul class="pagination" >
                              <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a></li>
                                 <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                                    <a (click)="setPage(page)" >{{page}} </a>
                                 </li>
                              <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                           </ul>
                        </div>
                      </div>
				</div>
			</div>
    	</div>
    </div>
    <app-footer></app-footer>
 </div>
 </div>